flows.json
[
    {
        "id": "0dc4f3cdcca4aa50",
        "type": "tab",
        "label": "Lincoln Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "44ef91a5b4f76e5d",
        "type": "http request",
        "z": "0dc4f3cdcca4aa50",
        "name": "Get Details",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://phev.myfordmobile.com/services/webGetAVD",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "245db6b6e0652673"
            ]
        ]
    },
    {
        "id": "b7570dccfb6ece8a",
        "type": "function",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "func": "//lets setup in NodeRed\n\nvar sessionID = \"REDACTED-ButRequired\";\nvar data = `{\\\"PARAMS\\\":{\\\"apiLevel\\\":\\\"3\\\",\\\"forceUpdate\\\":\\\"1\\\",\\\"lastUpdatedTime\\\":\\\"0\\\",\\\"sessionId\\\":\\\"${sessionID}\\\"}}`;\nvar url = \"https://phev.myfordmobile.com/services/webGetAVD\";\n\n\n\nmsg.payload = data;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json; charset=UTF-8';\nmsg.headers['Host'] = 'phev.myfordmobile.com';\nmsg.headers['Connection'] = 'okhttp/4.9.0';\nmsg.headers['Accept-Encoding'] = 'gzip, deflate, br';\nmsg.url = url;\n\n\n////////////////////////////////////////////////////\n////Display information under node for reference////\n////////////////////////////////////////////////////\nvar date = new Date().toLocaleDateString('en-US', {\n    month: 'short',\n    day: 'numeric',\n    hour12: false,\n    hour: 'numeric',\n    minute: 'numeric'\n})\n\nvar statusText = `Current outside temp ${flow.get([\"current.outsideTemp\"])} at: ${date}`\nnode.status({fill: \"green\", shape: \"dot\", text: statusText});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 160,
        "wires": [
            [
                "d745e6bf737a75b1",
                "44ef91a5b4f76e5d"
            ]
        ]
    },
    {
        "id": "d745e6bf737a75b1",
        "type": "debug",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 190,
        "y": 240,
        "wires": []
    },
    {
        "id": "f2da764eb55c79b7",
        "type": "inject",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "b7570dccfb6ece8a"
            ]
        ]
    },
    {
        "id": "245db6b6e0652673",
        "type": "debug",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "1356545d1595f63e",
        "type": "comment",
        "z": "0dc4f3cdcca4aa50",
        "name": "Request Details for MKX",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "6df04771ca8d975a",
        "type": "http request",
        "z": "0dc4f3cdcca4aa50",
        "name": "Send Request",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://phev.myfordmobile.com/services/webAddCommandPS",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "x": 400,
        "y": 620,
        "wires": [
            [
                "2a228a986a0d60c2"
            ]
        ]
    },
    {
        "id": "aac5d862e31f9f45",
        "type": "function",
        "z": "0dc4f3cdcca4aa50",
        "name": "Door Lock",
        "func": "//lets setup in NodeRed\nvar vin = \"REDACTED-ButRequired\";\nvar sessionID = \"REDACTED-ButRequired\";\nvar data = {\n    \"PARAMS\":{\n        \"apiLevel\":\"3\",\n        \"LOOKUPCODE\":\"LOCK_CMD\",\n        \"VIN\": vin,\n        \"SESSIONID\": sessionID\n        }\n    };\nvar jsonstr = JSON.stringify(data);\n\n\nmsg.payload = jsonstr;\nmsg.headers = {};\nmsg.headers['Accept'] = '*/*';\nmsg.headers['content-type'] = 'application/json; charset=UTF-8';\nmsg.headers['Host'] = 'phev.myfordmobile.com';\nmsg.headers['Connection'] = 'Keep-Alive';\nmsg.headers['User-Agent'] = 'okhttp/4.9.0';\nmsg.headers['Accept-Encoding'] = 'gzip, deflate, br';\n\n\n////////////////////////////////////////////////////\n////Display information under node for reference////\n////////////////////////////////////////////////////\nvar date = new Date().toLocaleDateString('en-US', {\n    month: 'short',\n    day: 'numeric',\n    hour12: false,\n    hour: 'numeric',\n    minute: 'numeric'\n})\n\nvar statusText = `Lock Command Called at: ${date}`\nnode.status({fill: \"green\", shape: \"dot\", text: statusText});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 620,
        "wires": [
            [
                "6df04771ca8d975a"
            ]
        ]
    },
    {
        "id": "2f83a8fa0f88e549",
        "type": "inject",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 560,
        "wires": [
            [
                "aac5d862e31f9f45"
            ]
        ]
    },
    {
        "id": "0b9d64ddfede87ac",
        "type": "function",
        "z": "0dc4f3cdcca4aa50",
        "name": "Check Status",
        "func": "//lets setup in NodeRed\nvar sessionID = \"REDACTED-ButRequired\";\nvar commandID = msg.req.commandID\nvar data = {\n    \"PARAMS\":{\n        \"COMMANDID\": commandID,\n        \"SESSIONID\": sessionID\n        }\n    };\nvar jsonstr = JSON.stringify(data);\n\nmsg.payload = data;\nmsg.headers = {};\nmsg.headers['Accept'] = '*/*';\nmsg.headers['content-type'] = 'application/json; charset=UTF-8';\nmsg.headers['Host'] = 'phev.myfordmobile.com';\nmsg.headers['Connection'] = 'Keep-Alive';\nmsg.headers['User-Agent'] = 'okhttp/4.9.0';\nmsg.headers['Accept-Encoding'] = 'gzip, deflate, br';\n\n////////////////////////////////////////////////////\n////Display information under node for reference////\n////////////////////////////////////////////////////\nvar date = new Date().toLocaleDateString('en-US', {\n    month: 'short',\n    day: 'numeric',\n    hour12: false,\n    hour: 'numeric',\n    minute: 'numeric'\n})\n\nvar statusText = `Door Lock Requested at: ${date}`\nnode.status({fill: \"green\", shape: \"dot\", text: statusText});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 660,
        "wires": [
            [
                "9b888a618fde1a48"
            ]
        ]
    },
    {
        "id": "b5e90e062b35f832",
        "type": "http request",
        "z": "0dc4f3cdcca4aa50",
        "name": "Get Status",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://phev.myfordmobile.com/services/webGetRemoteCommandStatusPS",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "x": 370,
        "y": 820,
        "wires": [
            [
                "1df61894b4c2f85a"
            ]
        ]
    },
    {
        "id": "89a583f5561cbf65",
        "type": "debug",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 720,
        "wires": []
    },
    {
        "id": "9b888a618fde1a48",
        "type": "delay",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 220,
        "y": 820,
        "wires": [
            [
                "b5e90e062b35f832"
            ]
        ]
    },
    {
        "id": "1df61894b4c2f85a",
        "type": "switch",
        "z": "0dc4f3cdcca4aa50",
        "name": "Que Check",
        "property": "payload.Entries.Entry.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "QUEUED",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "COMPLETED",
                "vt": "str"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 550,
        "y": 760,
        "wires": [
            [
                "af207f2a7fcf70bb"
            ],
            [
                "89a583f5561cbf65"
            ],
            [
                "52b1564eb5b98593"
            ]
        ]
    },
    {
        "id": "af207f2a7fcf70bb",
        "type": "change",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 620,
        "wires": [
            [
                "0b9d64ddfede87ac"
            ]
        ]
    },
    {
        "id": "2a228a986a0d60c2",
        "type": "change",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "req.commandID",
                "pt": "msg",
                "to": "payload.COMMANDID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 440,
        "wires": [
            [
                "0b9d64ddfede87ac"
            ]
        ]
    },
    {
        "id": "14c342d8a013bb9c",
        "type": "comment",
        "z": "0dc4f3cdcca4aa50",
        "name": "Request LOCK for MKX",
        "info": "",
        "x": 130,
        "y": 520,
        "wires": []
    },
    {
        "id": "52b1564eb5b98593",
        "type": "debug",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 780,
        "wires": []
    },
    {
        "id": "a347981794fa8e99",
        "type": "http request",
        "z": "0dc4f3cdcca4aa50",
        "name": "Send Request",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://phev.myfordmobile.com/services/webAddCommandPS",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "x": 460,
        "y": 1200,
        "wires": [
            [
                "03c7f23252bee86e"
            ]
        ]
    },
    {
        "id": "9ef5e17b0b39aff3",
        "type": "function",
        "z": "0dc4f3cdcca4aa50",
        "name": "Door unLock",
        "func": "//lets setup in NodeRed\nvar vin = \"REDACTED-ButRequired\";\nvar sessionID = \"REDACTED-ButRequired\";\n\nvar data = {\n    \"PARAMS\":{\n        \"apiLevel\":\"3\",\n        \"LOOKUPCODE\":\"UNLOCK_CMD\",\n        \"VIN\": vin,\n        \"SESSIONID\": sessionID\n        }\n    };\nvar jsonstr = JSON.stringify(data);\n\n\nmsg.payload = jsonstr;\nmsg.headers = {};\nmsg.headers['Accept'] = '*/*';\nmsg.headers['content-type'] = 'application/json; charset=UTF-8';\nmsg.headers['Host'] = 'phev.myfordmobile.com';\nmsg.headers['Connection'] = 'Keep-Alive';\nmsg.headers['User-Agent'] = 'okhttp/4.9.0';\nmsg.headers['Accept-Encoding'] = 'gzip, deflate, br';\n\n\n////////////////////////////////////////////////////\n////Display information under node for reference////\n////////////////////////////////////////////////////\nvar date = new Date().toLocaleDateString('en-US', {\n    month: 'short',\n    day: 'numeric',\n    hour12: false,\n    hour: 'numeric',\n    minute: 'numeric'\n})\n\nvar statusText = `unLock Command Called at: ${date}`\nnode.status({fill: \"green\", shape: \"dot\", text: statusText});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 1200,
        "wires": [
            [
                "a347981794fa8e99"
            ]
        ]
    },
    {
        "id": "8cdc334dd6b17c0c",
        "type": "inject",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 1140,
        "wires": [
            [
                "9ef5e17b0b39aff3"
            ]
        ]
    },
    {
        "id": "e1f531170158d4f5",
        "type": "function",
        "z": "0dc4f3cdcca4aa50",
        "name": "Check Status",
        "func": "//lets setup in NodeRed\nvar sessionID = \"REDACTED-ButRequired\";\nvar commandID = msg.req.commandID\nvar data = {\n    \"PARAMS\":{\n        \"COMMANDID\": commandID,\n        \"SESSIONID\": sessionID\n        }\n    };\nvar jsonstr = JSON.stringify(data);\n\nmsg.payload = data;\nmsg.headers = {};\nmsg.headers['Accept'] = '*/*';\nmsg.headers['content-type'] = 'application/json; charset=UTF-8';\nmsg.headers['Host'] = 'phev.myfordmobile.com';\nmsg.headers['Connection'] = 'Keep-Alive';\nmsg.headers['User-Agent'] = 'okhttp/4.9.0';\nmsg.headers['Accept-Encoding'] = 'gzip, deflate, br';\n\n////////////////////////////////////////////////////\n////Display information under node for reference////\n////////////////////////////////////////////////////\nvar date = new Date().toLocaleDateString('en-US', {\n    month: 'short',\n    day: 'numeric',\n    hour12: false,\n    hour: 'numeric',\n    minute: 'numeric'\n})\n\nvar statusText = `Door Lock Requested at: ${date}`\nnode.status({fill: \"green\", shape: \"dot\", text: statusText});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1240,
        "wires": [
            [
                "3a3121fd4030960b"
            ]
        ]
    },
    {
        "id": "64387045d85ed5ad",
        "type": "http request",
        "z": "0dc4f3cdcca4aa50",
        "name": "Get Status",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://phev.myfordmobile.com/services/webGetRemoteCommandStatusPS",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "x": 430,
        "y": 1400,
        "wires": [
            [
                "1deaca9fa0bda892"
            ]
        ]
    },
    {
        "id": "381944e72ec9c301",
        "type": "debug",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 1300,
        "wires": []
    },
    {
        "id": "3a3121fd4030960b",
        "type": "delay",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 280,
        "y": 1400,
        "wires": [
            [
                "64387045d85ed5ad"
            ]
        ]
    },
    {
        "id": "1deaca9fa0bda892",
        "type": "switch",
        "z": "0dc4f3cdcca4aa50",
        "name": "Que Check",
        "property": "payload.Entries.Entry.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "QUEUED",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "COMPLETED",
                "vt": "str"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 610,
        "y": 1340,
        "wires": [
            [
                "efcefd36274b9b14"
            ],
            [
                "381944e72ec9c301"
            ],
            [
                "838885a90fefaca3"
            ]
        ]
    },
    {
        "id": "efcefd36274b9b14",
        "type": "change",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 1200,
        "wires": [
            [
                "e1f531170158d4f5"
            ]
        ]
    },
    {
        "id": "03c7f23252bee86e",
        "type": "change",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "req.commandID",
                "pt": "msg",
                "to": "payload.COMMANDID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1020,
        "wires": [
            [
                "e1f531170158d4f5"
            ]
        ]
    },
    {
        "id": "788d6855b221245c",
        "type": "comment",
        "z": "0dc4f3cdcca4aa50",
        "name": "Request unLOCK for MKX",
        "info": "",
        "x": 190,
        "y": 1100,
        "wires": []
    },
    {
        "id": "838885a90fefaca3",
        "type": "debug",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1360,
        "wires": []
    },
    {
        "id": "2d5d44f1eea517b3",
        "type": "comment",
        "z": "0dc4f3cdcca4aa50",
        "name": "Request Remote Start",
        "info": "",
        "x": 160,
        "y": 1680,
        "wires": []
    },
    {
        "id": "2e6bc4ea251fc575",
        "type": "inject",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1740,
        "wires": [
            [
                "b7beaa2adf1a5851"
            ]
        ]
    },
    {
        "id": "b7beaa2adf1a5851",
        "type": "function",
        "z": "0dc4f3cdcca4aa50",
        "name": "Remote Start",
        "func": "//lets setup in NodeRed\nvar vin = \"REDACTED-ButRequired\";\nvar sessionID = \"REDACTED-ButRequired\";\n\nvar data = {\n    \"PARAMS\":{\n        \"apiLevel\":\"3\",\n        \"LOOKUPCODE\":\"START_CMD\",\n        \"VIN\": vin,\n        \"SESSIONID\": sessionID\n        }\n    };\nvar jsonstr = JSON.stringify(data);\n\n\nmsg.payload = jsonstr;\nmsg.headers = {};\nmsg.headers['Accept'] = '*/*';\nmsg.headers['content-type'] = 'application/json; charset=UTF-8';\nmsg.headers['Host'] = 'phev.myfordmobile.com';\nmsg.headers['Connection'] = 'Keep-Alive';\nmsg.headers['User-Agent'] = 'okhttp/4.9.0';\nmsg.headers['Accept-Encoding'] = 'gzip, deflate, br';\n\n\n////////////////////////////////////////////////////\n////Display information under node for reference////\n////////////////////////////////////////////////////\nvar date = new Date().toLocaleDateString('en-US', {\n    month: 'short',\n    day: 'numeric',\n    hour12: false,\n    hour: 'numeric',\n    minute: 'numeric'\n})\n\nvar statusText = `Start Command Called at: ${date}`\nnode.status({fill: \"green\", shape: \"dot\", text: statusText});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1740,
        "wires": [
            [
                "76995d49ea43ed19"
            ]
        ]
    },
    {
        "id": "76995d49ea43ed19",
        "type": "http request",
        "z": "0dc4f3cdcca4aa50",
        "name": "Send Request",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://phev.myfordmobile.com/services/webAddCommandPS",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "x": 540,
        "y": 1740,
        "wires": [
            [
                "dffe259dcf0826ae"
            ]
        ]
    },
    {
        "id": "56b13e93a64c78c2",
        "type": "function",
        "z": "0dc4f3cdcca4aa50",
        "name": "Check Status",
        "func": "//lets setup in NodeRed\nvar sessionID = \"REDACTED-ButRequired\";\nvar commandID = msg.req.commandID\nvar data = {\n    \"PARAMS\":{\n        \"COMMANDID\": commandID,\n        \"SESSIONID\": sessionID\n        }\n    };\nvar jsonstr = JSON.stringify(data);\n\nmsg.payload = data;\nmsg.headers = {};\nmsg.headers['Accept'] = '*/*';\nmsg.headers['content-type'] = 'application/json; charset=UTF-8';\nmsg.headers['Host'] = 'phev.myfordmobile.com';\nmsg.headers['Connection'] = 'Keep-Alive';\nmsg.headers['User-Agent'] = 'okhttp/4.9.0';\nmsg.headers['Accept-Encoding'] = 'gzip, deflate, br';\n\n////////////////////////////////////////////////////\n////Display information under node for reference////\n////////////////////////////////////////////////////\nvar date = new Date().toLocaleDateString('en-US', {\n    month: 'short',\n    day: 'numeric',\n    hour12: false,\n    hour: 'numeric',\n    minute: 'numeric'\n})\n\nvar statusText = `Door Lock Requested at: ${date}`\nnode.status({fill: \"green\", shape: \"dot\", text: statusText});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1780,
        "wires": [
            [
                "508d4cd60937b93b"
            ]
        ]
    },
    {
        "id": "22bbba56e0129738",
        "type": "http request",
        "z": "0dc4f3cdcca4aa50",
        "name": "Get Status",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://phev.myfordmobile.com/services/webGetRemoteCommandStatusPS",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "x": 510,
        "y": 1940,
        "wires": [
            [
                "cd93a64877cee257"
            ]
        ]
    },
    {
        "id": "45d9d14f263367b1",
        "type": "debug",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 1840,
        "wires": []
    },
    {
        "id": "508d4cd60937b93b",
        "type": "delay",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 360,
        "y": 1940,
        "wires": [
            [
                "22bbba56e0129738"
            ]
        ]
    },
    {
        "id": "cd93a64877cee257",
        "type": "switch",
        "z": "0dc4f3cdcca4aa50",
        "name": "Que Check",
        "property": "payload.Entries.Entry.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "QUEUED",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "COMPLETED",
                "vt": "str"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 690,
        "y": 1880,
        "wires": [
            [
                "2be4bf6178047350"
            ],
            [
                "45d9d14f263367b1"
            ],
            [
                "71dc4c4b08a81959"
            ]
        ]
    },
    {
        "id": "2be4bf6178047350",
        "type": "change",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 1740,
        "wires": [
            [
                "56b13e93a64c78c2"
            ]
        ]
    },
    {
        "id": "dffe259dcf0826ae",
        "type": "change",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "req.commandID",
                "pt": "msg",
                "to": "payload.COMMANDID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1560,
        "wires": [
            [
                "56b13e93a64c78c2"
            ]
        ]
    },
    {
        "id": "71dc4c4b08a81959",
        "type": "debug",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 1900,
        "wires": []
    },
    {
        "id": "6997a247f03f1ef1",
        "type": "comment",
        "z": "0dc4f3cdcca4aa50",
        "name": "Cancel Remote Start",
        "info": "",
        "x": 180,
        "y": 2240,
        "wires": []
    },
    {
        "id": "4517c98a7cbde619",
        "type": "inject",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 2300,
        "wires": [
            [
                "05c05ab9f74bd87a"
            ]
        ]
    },
    {
        "id": "05c05ab9f74bd87a",
        "type": "function",
        "z": "0dc4f3cdcca4aa50",
        "name": "Cancel Remote Start",
        "func": "//lets setup in NodeRed\nvar vin = \"REDACTED-ButRequired\";\nvar sessionID = \"REDACTED-ButRequired\";\n\nvar data = {\n    \"PARAMS\":{\n        \"apiLevel\":\"3\",\n        \"LOOKUPCODE\":\"CANCEL_START_CMD\",\n        \"VIN\": vin,\n        \"SESSIONID\": sessionID\n        }\n    };\nvar jsonstr = JSON.stringify(data);\n\n\nmsg.payload = jsonstr;\nmsg.headers = {};\nmsg.headers['Accept'] = '*/*';\nmsg.headers['content-type'] = 'application/json; charset=UTF-8';\nmsg.headers['Host'] = 'phev.myfordmobile.com';\nmsg.headers['Connection'] = 'Keep-Alive';\nmsg.headers['User-Agent'] = 'okhttp/4.9.0';\nmsg.headers['Accept-Encoding'] = 'gzip, deflate, br';\n\n\n////////////////////////////////////////////////////\n////Display information under node for reference////\n////////////////////////////////////////////////////\nvar date = new Date().toLocaleDateString('en-US', {\n    month: 'short',\n    day: 'numeric',\n    hour12: false,\n    hour: 'numeric',\n    minute: 'numeric'\n})\n\nvar statusText = `Stop Command Called at: ${date}`\nnode.status({fill: \"green\", shape: \"dot\", text: statusText});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2300,
        "wires": [
            [
                "03d1929f0779e08a"
            ]
        ]
    },
    {
        "id": "03d1929f0779e08a",
        "type": "http request",
        "z": "0dc4f3cdcca4aa50",
        "name": "Send Request",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://phev.myfordmobile.com/services/webAddCommandPS",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "x": 560,
        "y": 2300,
        "wires": [
            [
                "d684283e93cff29f"
            ]
        ]
    },
    {
        "id": "11300255a70ebf1c",
        "type": "function",
        "z": "0dc4f3cdcca4aa50",
        "name": "Check Status",
        "func": "//lets setup in NodeRed\nvar sessionID = \"REDACTED-ButRequired\";\nvar commandID = msg.req.commandID\nvar data = {\n    \"PARAMS\":{\n        \"COMMANDID\": commandID,\n        \"SESSIONID\": sessionID\n        }\n    };\nvar jsonstr = JSON.stringify(data);\n\nmsg.payload = data;\nmsg.headers = {};\nmsg.headers['Accept'] = '*/*';\nmsg.headers['content-type'] = 'application/json; charset=UTF-8';\nmsg.headers['Host'] = 'phev.myfordmobile.com';\nmsg.headers['Connection'] = 'Keep-Alive';\nmsg.headers['User-Agent'] = 'okhttp/4.9.0';\nmsg.headers['Accept-Encoding'] = 'gzip, deflate, br';\n\n////////////////////////////////////////////////////\n////Display information under node for reference////\n////////////////////////////////////////////////////\nvar date = new Date().toLocaleDateString('en-US', {\n    month: 'short',\n    day: 'numeric',\n    hour12: false,\n    hour: 'numeric',\n    minute: 'numeric'\n})\n\nvar statusText = `Door Lock Requested at: ${date}`\nnode.status({fill: \"green\", shape: \"dot\", text: statusText});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 2340,
        "wires": [
            [
                "d8847364e48f1501"
            ]
        ]
    },
    {
        "id": "e98c93433971d88e",
        "type": "http request",
        "z": "0dc4f3cdcca4aa50",
        "name": "Get Status",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://phev.myfordmobile.com/services/webGetRemoteCommandStatusPS",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "x": 530,
        "y": 2500,
        "wires": [
            [
                "69a9a85ffda6bf72"
            ]
        ]
    },
    {
        "id": "cc6111274c6b4c30",
        "type": "debug",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 2400,
        "wires": []
    },
    {
        "id": "d8847364e48f1501",
        "type": "delay",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 380,
        "y": 2500,
        "wires": [
            [
                "e98c93433971d88e"
            ]
        ]
    },
    {
        "id": "69a9a85ffda6bf72",
        "type": "switch",
        "z": "0dc4f3cdcca4aa50",
        "name": "Que Check",
        "property": "payload.Entries.Entry.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "QUEUED",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "COMPLETED",
                "vt": "str"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 710,
        "y": 2440,
        "wires": [
            [
                "1b0f9c4c7f387329"
            ],
            [
                "cc6111274c6b4c30"
            ],
            [
                "0d64c9b8637c8622"
            ]
        ]
    },
    {
        "id": "1b0f9c4c7f387329",
        "type": "change",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 2300,
        "wires": [
            [
                "11300255a70ebf1c"
            ]
        ]
    },
    {
        "id": "d684283e93cff29f",
        "type": "change",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "req.commandID",
                "pt": "msg",
                "to": "payload.COMMANDID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 2120,
        "wires": [
            [
                "11300255a70ebf1c"
            ]
        ]
    },
    {
        "id": "0d64c9b8637c8622",
        "type": "debug",
        "z": "0dc4f3cdcca4aa50",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 2460,
        "wires": []
    }
]